<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391700650804-v8o4qkrgc9hf6ejblloe0ajptj4vr8pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391700650804-v8o4qkrgc9hf6ejblloe0ajptj4vr8pt</string>
	<key>API_KEY</key>
	<string>AIzaSyCO_hw1EFRb5FOIM2S_hdeeTqD_kJSiFN0</string>
	<key>GCM_SENDER_ID</key>
	<string>391700650804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expo.dev02.testinggoogleforbackend</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone2-da8eb</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone2-da8eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391700650804:ios:e2cb99172f31b72c61a361</string>
</dict>
</plist>